h6 {
    color: #ee2624;
}

.selected {
    border: 2px solid #ee2624;
}

img:hover:not(.aspect-square) {
    border: 2px solid #ee2624;
}

.bg-red-500 {
    background-color: #ee2624;
    border: 1px solid #ee2624;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
